---
layout: default
text_1: "Paralax"
---

{% include paralax.html %}

<!-- POSTS -->

    <main class="container" aria-label="Content">
      <div class="wrapper">

<div class="home">

  <h1 class="page-heading">Посты</h1>
  
  {{ content }}

  <div class="row">
      {% for post in site.posts %}
       <a href="{{ post.url | relative_url }}">
       <div class="col s4">        
       <ul class="post-list">
          <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <div class="card small z-depth-5">
          <div class="card-image">
            <img src="{{ post.image_path }}">
            <span class="card-title">{{ post.title | escape }}</span>
          </div>
                    <div class="card-content">
            <p>{{ post.description | escape }}</p>
          </div>
          <div class="card-action">
            <a href="{{ post.url | relative_url }}">Читать</a>
          </div>         
  </ul>
  </div>
  </a>
  {% endfor %}
  </div>



</div>



      

        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </main>
